@mixin centrado() {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin fontStyle() {
  font-weight: lighter;
}

.about {
  margin: 0;
  padding: 0 0 20px 0;
  height: auto;
  .about-me {
    height: 50%;
    display: flex;
    margin: 0;
    padding: 0;
    @include media(md) {
      flex-direction: column-reverse;
    }
    .about-left {
      width: 50%;
      height: 700px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $color2;
      @include media(md) {
        width: 100%;
        height: 700px;
        align-items: center;
        min-height: none;
      }
      @include media(sm) {
        height: 600px;
      }
      @include media(xs) {
        height: 550px;
      }
      @include media(xxs) {
        height: 500px;
      }
      .about-img {
        width: 100%;
        height: 85%;
        background-color: $color2;
        display: flex;
        align-items: center;
        justify-content: center;
        @include media(md) {
          width: 80%;
          background-color: $color2;
        }
        img {
          border: solid 20px $color1;
          object-fit: cover;
          width: 100%;
          max-width: 400px;
          height: 100%;
          max-height: 700px;
          margin: 0;
          @include media(md) {
            width: auto;
            height: auto;
          }
          @include media(sm) {
            max-width: 100%;
            border: solid 15px $color1;
          }
          @include media(xxs) {
            max-width: 300px;
          }
        }
      }
    }

    .about-right {
      width: 50%;
      min-height: 700px;
      background-color: $color1;
      @include centrado();
      @include media(md) {
        width: 100%;
        height: 600px;
      }
      .about-title {
        width: 100%;
        height: 25%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        @include media(md) {
          height: 20%;
        }
        h3 {
          color: $color2;
          @include fontStyle();
        }
      }
      .about-detail {
        width: 100%;
        height: 10%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        .about-detail-img {
          object-fit: contain;
          width: 300px;
        }
      }
      .about-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        width: 350px;
        height: 65%;
        text-align: justify;
        h4 {
          color: $color5;
          @include fontStyle();
          @include media(sm) {
            width: 330px;
          }
          @include media(xs) {
            width: 300px;
          }
          @include media(xxs) {
            width: 250px;
          }
        }
      }
    }
  }
  .about-skills {
    width: 100%;
    height: 50%;
    padding: 80px 150px 0px;
    @include centrado();
    @include media(sm-a) {
      padding: 70px 60px 0px;
    }
    .about-title {
      height: 30%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      h3 {
        color: $color2;
        text-align: center;
        @include fontStyle();
      }
      .about-detail {
        margin-bottom: 30px;
      }
    }
    .about-list {
      width: 100%;
      height: 70%;
      padding: 0 20px;
      @include centrado();
      @include media(xs) {
        padding: 0;
      }
      .about-item {
        width: 100%;
        display: flex;
        @include media(sm) {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
        .about-item-img {
          width: 20%;
          display: flex;
          justify-content: flex-end;
          @include media(md) {
            align-items: flex-start;
          }
          @include media(sm) {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          img {
            object-fit: scale-down;
            margin: 0 20px 15px 0;
            height: 122px;
            @include media(sm) {
              margin: 0 0 20px;
              height: 150px;
            }
          }
        }
        .about-item-text {
          width: 75%;
          height: auto;
          @include media(sm) {
            width: 100%;
          }
          h4,
          h5 {
            width: 100%;
            margin: 0px;
            font-size: 18px;
            color: $color5;
            @include fontStyle();
          }
          h4 {
            margin-bottom: 15px;
            color: $color2;
            @include media(sm) {
              text-align: center;
            }
          }
          h5 {
            @include media(sm) {
              text-align: justify;
            }
          }
        }
      }
      .line {
        width: 100%;
        margin: 30px 0 20px;
        display: flex;
        justify-content: center;
        hr {
          width: 950px;
          height: 1px;
          background-color: $color2;
        }
      }
    }
  }
}
