@mixin fontStyle() {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

.contact {
  height: 620px;
  background-color: $color6;
  display: flex;
  justify-content: center;
  @include media(sm) {
    height: auto;
    background-color: $color2;
    display: flex;
    justify-content: center;
  }
  @include media(md) {
    height: auto;
    background-color: $color2;
    display: flex;
    justify-content: center;
  }
  div {
    width: 500px;
    height: 100%;
    padding: 60px 50px 0;
    background-color: $color2;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    @include media(sm) {
      width: 100%;
      padding: 40px 0 0;
    }
    @include media(md) {
      width: 500px;
      padding: 40px 0 0;
    }
    h3,
    h4 {
      @include fontStyle();
      color: $color1;
      a {
        text-decoration: none;
        color: $color1;
        position: relative;
        padding-bottom: 5px;
      }
      a:hover {
        color: $color1;
      }
      a::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        bottom: 0;
        left: 0;
        background-color: $color1;
        visibility: hidden;
        transform: scaleX(0);
        transition: all 0.3s ease-in-out 0s;
      }
      a:hover::before {
        visibility: visible;
        transform: scaleX(1);
      }
    }
    img {
      @include media(sm) {
        width: 85%;
      }
    }
    ul {
      list-style: none;
      li {
        display: flex;
        align-items: center;
        img {
          width: 55px;
          margin: 0 20px 0 0;
          @include media(sm) {
            width: 55px;
            margin: 0 15px 0 0;
          }
        }
      }
    }
  }
}
