header.nav {
  background: $color1;
  display: flex;
  align-items: center;
  height: 70px;
  margin: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
  .nav-left {
    width: 55%;
    margin: 0;
    h1 {
      margin: 0 0 5px;
      padding-left: 10px;
      color: $color3;
      font-family: "Concert One";
      font-size: 2.7rem;
      cursor: pointer;
    }
  }
  .nav-right {
    width: 45%;
    margin: 0;
    ul {
      list-style: none;
      display: flex;
      justify-content: space-around;
      margin: 0;
      li {
        display: inline-block;
        margin: 0;
        color: $color3;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        cursor: pointer;
      }
      li:hover,
      li:target {
        color: $color2;
      }
    }
    img {
      display: none;
    }
  }
}

.nav-mobile {
  width: 0;
  height: 100vh;
  display: none;
  visibility: hidden;
}

@media screen and (max-width: 920px) {
  header.nav {
    width: 100vw;
    position: fixed;
    top: 0;
    .nav-left {
      width: 85%;
    }
    .nav-right {
      width: 15%;
      visibility: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      ul {
        display: none;
        visibility: none;
      }
      img {
        display: block;
        visibility: visible;
        object-fit: contain;
        max-width: 30px;
        cursor: pointer;
        margin: 0;
      }
    }
  }

  div.nav-mobile {
    width: 200px;
    height: 100vh;
    visibility: visible;
    position: fixed;
    margin: 70px 0 0;
    display: block;
    right: 0;
    background-color: $color1;
    box-shadow: -8px 0px 50px -1px rgba(0, 0, 0, 0.52);
    ul {
      list-style: none;
      padding: 0px;
      margin-bottom: 0;
      transition: 300ms ease-out;
      li {
        margin: 50px 0px;
        cursor: pointer;
        color: $color2;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
      }
    }
  }
}
