header.nav {
  background: $color1;
  display: flex;
  align-items: center;
  height: 70px;
  margin: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
  .nav-left {
    width: 55%;
    margin: 0;
    h1 {
      margin: 0;
      padding-left: 10px;
      color: $color3;
      font-family: "Concert One";
      font-size: 3rem;
    }
  }
  .nav-right {
    width: 45%;
    margin: 0;
    ul {
      list-style: none;
      display: flex;
      justify-content: space-around;
      margin: 0;
      li {
        display: inline-block;
        margin: 0;
        color: $color3;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
      }
      li:hover,
      li:active {
        color: $color2;
      }
    }
  }
}
