.inicio {
  display: flex;
  margin: 0;
  padding: 0;
  .inicio-left,
  .inicio-right {
    height: 750px;
    @include media(md) {
      height: 700px;
    }
    @include media(sm) {
      height: 550px;
    }
  }

  .inicio-left {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: $color6;
    padding: 0 30px 30px;
    @include media(md) {
      display: none;
      visibility: hidden;
    }
    h1 {
      color: $color1;
      font-family: "Concert One";
      font-size: 2.7rem;
      font-weight: lighter;
    }
  }

  .inicio-right {
    width: 50%;
    background-color: $color2;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    @include media(md) {
      width: 100%;
      padding-top: 0px;
    }
    @include media(xs) {
      padding-top: 50px;
    }
    h1.right-h2 {
      text-align: center;
      color: $color1;
      margin-bottom: 5px;
      visibility: hidden;
      display: none;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: lighter;
      @include media(md) {
        visibility: visible;
        display: block;
      }
    }
    h3 {
      text-align: center;
      color: $color1;
      margin-bottom: 0px;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: lighter;
    }
    .inicio-img {
      margin-top: 20px;
      width: 300px;
      height: 393px;
      border: 12px solid $color1;
      @include media(xs) {
        width: 270px;
        height: 370px;
      }
      @include media(xxs) {
        width: 250px;
        height: 350px;
      }
      img {
        height: 100%;
      }
    }
    .inicio-detail {
      width: 350px;
      margin: 20px 0 0 0;
      @include media(sm) {
        width: 320px;
      }
      @include media(xs) {
        width: 300px;
      }
    }
  }
}
