.patrem {
  padding: 50px 100px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include media(md) {
    padding: 40px 80px;
  }
  @include media(sm-b) {
    padding: 40px 70px;
  }
  @include media(sm) {
    padding: 40px 50px;
  }
  .line {
    hr {
      width: 100%;
      height: 1px;
      background-color: $color2;
    }
    h3 {
      color: $color2;
      font-weight: 300;
    }
    span {
      text-align: justify;
      font-family: Arial, Helvetica, sans-serif;
    }
  }
  .uno {
    display: flex;
    margin-top: 30px;
    @include media(md) {
      flex-direction: column;
    }
    .uno-span {
      width: 65%;
      text-align: justify;
      padding-right: 25px;
      @include media(md) {
        width: 100%;
        padding-right: 0;
        margin-bottom: 20px;
      }
      span {
        font-family: Arial, Helvetica, sans-serif;
      }
    }
    .uno-img {
      width: 35%;
      @include media(md) {
        width: 100%;
        display: flex;
        justify-content: center;
      }
      img {
        object-fit: cover;
        width: 100%;
        height: 300px;
        @include media(md) {
          object-fit: contain;
        }
      }
    }
  }
  .dos {
    width: 100%;
    .dos-img {
      display: flex;
      width: 100%;
      @include media(md) {
        flex-direction: column;
      }
      div {
        width: 50%;
        @include media(md) {
          width: 100%;
        }
        img {
          width: 100%;
          object-fit: contain;
          padding: 15px;
          @include media(md) {
            padding: 0;
          }
        }
      }
    }
  }
}
