.patrem {
  padding: 30px 0px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  div.patrem-body {
    padding: 0px 180px;
    @include media(md-b) {
      padding: 0 80px;
    }
    @include media(sm-b) {
      padding: 0 70px;
    }
    @include media(sm) {
      padding: 0 50px;
    }

    .line {
      hr {
        width: 100%;
        height: 1px;
        background-color: $color2;
      }
      h3 {
        color: $color2;
        font-weight: 300;
      }
      span {
        text-align: justify;
      }
    }
    .uno {
      display: flex;
      margin: 30px 0;
      @include media(md-b) {
        flex-direction: column;
      }
      .uno-span {
        width: 65%;
        text-align: justify;
        padding-right: 25px;
        @include media(md-b) {
          width: 100%;
          padding-right: 0;
          margin-bottom: 20px;
        }
      }
      .uno-img {
        width: 35%;
        @include media(md-b) {
          width: 100%;
          display: flex;
          justify-content: center;
        }
        img {
          object-fit: cover;
          width: 100%;
          height: 300px;
          @include media(md-b) {
            object-fit: contain;
          }
        }
      }
    }
    .dos {
      width: 100%;
      .dos-img {
        display: flex;
        width: 100%;
        @include media(md-b) {
          flex-direction: column;
        }
        div {
          width: 50%;
          @include media(md-b) {
            width: 100%;
          }
          img {
            width: 100%;
            object-fit: contain;
            padding: 15px;
            @include media(md-b) {
              padding: 0;
            }
          }
        }
      }
    }
  }
}
