.titles {
  width: 100%;
  height: 189px;
  background-color: $color2;
  display: flex;
  align-items: center;
  @include media(md) {
    width: 100%;
    height: 180px;
  }
  @include media(sm-a) {
    flex-direction: column;
    padding: 20px 10px;
  }
  div.title-img {
    width: 36%;
    display: flex;
    padding-right: 50px;
    justify-content: flex-end;
    @include media(md) {
      padding-right: 40px;
    }
    @include media(sm-a) {
      width: 50%;
    }
    @include media(xs) {
      padding-right: 20px;
    }
    img {
      width: 70%;
      max-width: 250px;
      object-fit: scale-down;
      margin: 0;
      @include media(md) {
        max-width: none;
        max-height: 100px;
      }
    }
  }
  div.title-h2 {
    width: 60%;
    @include media(sm-a) {
      width: 100%;
    }
    h2 {
      color: $color1;
      font-family: "Concert One";
      font-size: 72px;
      margin-bottom: 10px;
      @include media(md) {
        font-size: 60px;
      }
      @include media(sm-a) {
        font-size: 40px;
        text-align: center;
        margin-bottom: 10px;
        margin-top: 10px;
      }
    }
  }
}
