header.nav-projects {
  background: $color1;
  height: 70px;
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  @include media(md-b) {
    margin-bottom: 15px;
  }
  @include media(sm-a) {
    flex-direction: column;
  }
  .nav-projects-left {
    color: $color3;
    width: 5%;
    display: flex;
    justify-content: flex-end;
    @include media(md-b) {
      width: 5%;
    }
    a {
      text-decoration: none;
      cursor: pointer;
    }
  }
  .nav-projects-center {
    display: flex;
    width: 90%;
    @include media(md-b) {
      display: flex;
      width: 90%;
    }
    ul {
      width: 100%;
      display: flex;
      justify-content: space-around;
      list-style: none;
      margin: 0;
      @include media(md-b) {
        justify-content: space-between;
      }
      a {
        text-decoration: unset;
        @include media(md-b) {
          width: 100%;
          text-decoration: unset;
        }
        li {
          color: $color3;
          font-weight: lighter;
          font-family: Arial, Helvetica, sans-serif;
          @include media(md-b) {
            text-align: center;
          }
        }
        li:hover,
        li:target {
          color: $color2;
          font-weight: bold;
        }
      }
    }
  }
}
