.proyecto-titulo {
  padding: 50px 100px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include media(md-b) {
    padding: 40px 80px;
  }
  @include media(sm-b) {
    padding: 40px 70px;
  }
  @include media(sm) {
    padding: 40px 50px;
  }
  @include media(xs) {
    padding: 40px 25px;
  }
  div {
    .uno {
      width: 100%;
      display: flex;
      margin-top: 30px;
      @include media(md-b) {
        flex-direction: column;
      }
      div {
        margin-right: 25px;
        width: 35%;
        text-align: justify;
        @include media(md-b) {
          width: 100%;
          margin: 0 0 15px;
        }
      }
      .uno-img {
        width: 35%;
        margin-right: 0;
        @include media(md-b) {
          width: 100%;
          margin-bottom: 5px;
        }
        img {
          object-fit: contain;
          width: 100%;
          @include media(md-b) {
            height: 400px;
          }
          @include media(sm-a) {
            height: auto;
            margin-bottom: none;
          }
        }
      }
    }
    .dos {
      display: flex;
      width: 100%;
      @include media(md-b) {
        flex-direction: column;
      }
      div {
        width: 50%;
        @include media(md-b) {
          width: 100%;
        }
        img {
          object-fit: contain;
          width: 100%;
          height: 340px;
          @include media(sm-a) {
            height: auto;
            margin-bottom: none;
          }
        }
      }
    }
    .tres {
      display: flex;
      width: 100%;
      @include media(md-b) {
        flex-direction: column;
      }
      .tres-a {
        width: 60%;
        text-align: justify;
        @include media(md-b) {
          width: 100%;
          margin-bottom: 20px;
        }
        span {
          font-family: Arial, Helvetica, sans-serif;
        }
      }
      .tres-b {
        width: 40%;
        @include media(md-b) {
          width: 100%;
        }
        img {
          object-fit: contain;
          @include media(md-b) {
            margin-bottom: 0;
            width: 100%;
          }
        }
      }
    }
    .cuatro {
      width: 100%;
      div {
        width: 100%;
        display: flex;
        @include media(md-b) {
          flex-direction: column;
        }
        div {
          width: 50%;
          @include media(md-b) {
            width: 100%;
          }
          img {
            object-fit: contain;
          }
        }
      }
      .cuatro-img {
        width: 100%;
        display: flex;
        justify-content: center;
        img {
          width: 100&;
          max-height: 500px;
          object-fit: contain;
        }
      }
    }
    .cinco {
      width: 100%;
      text-align: justify;
      .cinco-a {
        display: flex;
        @include media(md-b) {
          flex-direction: column;
        }
        div {
          width: 30%;
          margin-top: 30px;
          @include media(md-b) {
            width: 100%;
            margin-top: 0;
          }
        }
        .cinco-img {
          width: 70%;
          margin-top: 0;
          padding-right: 0;
          @include media(md-b) {
            width: 100%;
          }
          img {
            object-fit: contain;
            @include media(md-b) {
              margin-bottom: 0;
            }
          }
        }
      }
      .cinco-b {
        width: 100%;
        div {
          width: 100%;
        }
        .cinco-img {
          display: flex;
          div {
            width: 50%;
            img {
              object-fit: contain;
              width: 89%;
              @include media(md-b) {
                width: 90%;
              }
            }
          }
        }
      }
    }
    .seis {
      width: 100%;
      .seis-a {
        width: 100%;
        display: flex;
        @include media(md-b) {
          flex-direction: column;
          align-items: center;
        }
        div {
          width: 50%;
          @include media(md-b) {
            width: 100%;
            display: flex;
            justify-content: center;
          }
          img {
            max-width: 500px;
            height: 400px;
            object-fit: contain;
            @include media(md-b) {
              width: 100%;
              height: auto;
              margin-bottom: 0;
            }
          }
        }
        .seis-a-img {
          display: flex;
          justify-content: center;
        }
      }
      .seis-b {
        width: 100%;
        div {
          width: 100%;
          display: flex;
          justify-content: center;
        }
      }
      .seis-c {
        width: 100%;
        display: flex;
        @include media(md-b) {
          flex-direction: column;
        }
        div {
          width: 30%;
          @include media(md-b) {
            width: 100%;
          }
          img {
            width: 100%;
            margin-bottom: 0px;
            margin-top: 14px;
            @include media(md-b) {
              width: 80%;
              height: auto;
            }
          }
        }
        .seis-c-img {
          width: 70%;
          @include media(md-b) {
            width: 100%;
          }
          img {
            margin-top: 0;
            width: 100%;
            height: 500px;
            object-fit: contain;
            @include media(md-b) {
              width: 100%;
              height: auto;
              object-fit: cover;
            }
          }
        }
      }
      .seis-d {
        display: flex;
        width: 100%;
        @include media(md-b) {
          flex-direction: column-reverse;
        }
        .seis-d-img {
          width: 30%;
          @include media(md-b) {
            width: 100%;
          }
          img {
            width: 90%;
            object-fit: contain;
            @include media(md-b) {
              width: 100%;
            }
          }
        }
        .seis-d-span {
          width: 30%;
          text-align: justify;
          @include media(md-b) {
            width: 100%;
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}
