header.nav-projects {
  background: $color1;
  height: 55px;
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  @include media(md-b) {
    margin-bottom: 15px;
    padding: 0 60px;
  }
  @include media(md) {
    height: 50px;
  }
  @include media(sm) {
    padding: 0 30px;
  }
  .nav-projects-left {
    color: $color3;
    width: 5%;
    display: flex;
    justify-content: flex-end;
    @include media(md-b) {
      justify-content: flex-start;
    }
    a {
      text-decoration: none;
      cursor: pointer;
    }
  }
  .nav-projects-center {
    display: flex;
    width: 95%;
    @include media(md-b) {
      display: flex;
      width: 90%;
    }
    @include media(md) {
      width: 50%;
      display: flex;
      justify-content: flex-end;
    }
    ul {
      width: 100%;
      display: flex;
      justify-content: space-around;
      list-style: none;
      margin: 0;
      @include media(md-b) {
        justify-content: space-between;
      }
      @include media(md) {
        display: none;
        visibility: hidden;
      }
      a {
        text-decoration: unset;
        @include media(md-b) {
          width: 100%;
          text-decoration: unset;
        }
        li {
          color: $color3;
          font-weight: lighter;
          font-family: Arial, Helvetica, sans-serif;
          @include media(md-b) {
            text-align: center;
          }
        }
        li:hover,
        li:target {
          color: $color2;
          font-weight: bold;
        }
      }
    }
  }

  .mobile-projects-nav {
    display: none;
    visibility: hidden;
    @include media(md) {
      display: block;
      visibility: visible;
    }
    img {
      width: 25px;
    }
  }
  div.mobile-projects-div {
    display: block;
    visibility: visible;
    width: 50vw;
    height: 100vh;
    position: fixed;
    margin: 0;
    right: 0;
    // top: 70;
    background-color: $color1;
    ul.mobile-projects-ul {
      list-style: none;
      padding: 0px;
      margin-bottom: 0;
      display: block;
      visibility: visible;
      li {
        text-align: start;
        cursor: pointer;
        color: $color2;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        padding-left: 20px;
        padding-top: 20px;
      }
    }
  }
}
