.titles {
  width: 100%;
  height: 189px;
  background-color: $color2;
  display: flex;
  align-items: center;
  div.title-img {
    width: 36%;
    display: flex;
    padding-right: 50px;
    justify-content: flex-end;
    img {
      width: 70%;
      max-width: 250px;
      object-fit: scale-down;
      margin: 0;
    }
  }
  div.title-h2 {
    width: 60%;
    h2 {
      color: $color1;
      font-family: "Concert One";
      font-size: 72px;
      margin-bottom: 10px;
    }
  }
}

@media screen and (max-width: 920px) {
  .titles {
    width: 100%;
    height: 180px;
    div.title-img {
      padding-right: 40px;
      img {
        max-width: 190px;
      }
    }
    div.title-h2 {
      h2 {
        font-size: 60px;
      }
    }
  }
}
