.sumate-verde {
  padding: 30px 0px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  div.verde-body {
    padding: 0px 180px;
    @include media(md) {
      padding: 0 80px;
    }
    @include media(sm-b) {
      padding: 0 70px;
    }
    @include media(sm) {
      padding: 0 50px;
    }
    @include media(xs) {
      padding: 0 25px;
    }
    .uno {
      width: 100%;
      display: flex;
      span {
        padding: 25px 0;
        width: 50%;
        text-align: justify;
        font-size: 20px;
        @include media(md-b) {
          width: 100%;
        }
      }
    }
    .line {
      hr {
        width: 100%;
        height: 1px;
        background-color: $color2;
      }
      h3 {
        color: $color2;
        font-weight: 300;
      }
      span {
        text-align: justify;
      }
    }
    .dos {
      display: flex;
      margin-bottom: 50px;
      @include media(md) {
        flex-direction: column;
      }
      div {
        width: 50%;
        @include media(md) {
          width: 100%;
        }
      }
      .a {
        padding-right: 20px;
        @include media(md) {
          padding-right: 0px;
        }
        img {
          object-fit: cover;
          width: 500px;
          height: 781px;
          @include media(md) {
            width: 100%;
            height: auto;
          }
        }
        hr {
          width: 40%;
          height: 1px;
          background-color: $color2;
        }
        span {
          font-weight: lighter;
        }
      }
      .b {
        padding-left: 50px;
        text-align: justify;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include media(md) {
          padding-left: 0px;
          padding-top: 50px;
        }
        .b-span {
          margin-bottom: 20px;
        }
        img {
          object-fit: contain;
        }
        hr {
          width: 40%;
          height: 1px;
          background-color: $color2;
        }
        span {
          font-weight: lighter;
        }
      }
    }
    .tres {
      text-align: justify;
      div.tres-img-user {
        display: flex;
        justify-content: center;
        @include media(lg) {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
        img {
          object-fit: scale-down;
          max-width: 350px;
          width: 100%;
          @include media(lg) {
            width: 80%;
          }
        }
      }
      div.line-b {
        display: flex;
        flex-direction: column;
        @include media(lg) {
          display: flex;
          flex-direction: column;
        }
        hr {
          width: 20%;
          height: 1px;
          background-color: $color2;
        }
        h3 {
          color: $color5;
          font-weight: 300;
          font-size: 20px;
        }
      }
    }
    .cuatro {
      display: flex;
      @include media(md) {
        flex-direction: column;
      }
      div {
        width: 50%;
        @include media(md) {
          width: 100%;
        }
      }
      .a {
        @include media(md) {
          padding-top: 30px;
        }
        img {
          object-fit: scale-down;
        }
        hr {
          width: 40%;
          height: 1px;
          background-color: $color2;
        }
        span {
          font-weight: lighter;
        }
      }
      .b {
        padding-left: 50px;
        text-align: justify;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include media(md) {
          padding-top: 30px;
          padding-left: 0px;
        }
        span {
          font-weight: lighter;
        }
      }
    }
    .cinco {
      display: flex;
      margin: 30px 0 0;
      height: 650px;
      @include media(md) {
        flex-direction: column;
        height: auto;
      }
      .a {
        width: 40%;
        height: 100%;
        @include media(md) {
          width: 100%;
        }
        img {
          max-height: 500px;
          width: 100%;
          object-fit: cover;
        }
        hr {
          width: 45%;
          height: 1px;
          background-color: $color2;
        }
        span {
          font-weight: lighter;
        }
      }
      .b {
        width: 65%;
        @include media(md) {
          width: 100%;
        }
        img {
          object-fit: contain;
          object-position: 100% 0;
          width: 100%;
          height: 100%;
          max-height: 500px;
          @include media(md) {
            margin-bottom: 0;
          }
        }
        hr {
          width: 40%;
          height: 1px;
          background-color: $color2;
          margin-left: 30px;
          @include media(md) {
            width: 45%;
            margin-left: 0px;
          }
        }
        span {
          font-weight: lighter;
          margin-left: 30px;
          @include media(md) {
            margin-left: 0px;
          }
        }
      }
    }
    .seis {
      width: 100%;
      img {
        object-fit: contain;
      }
    }
    .siete {
      margin-bottom: 70px;
      height: auto;
      @include media(md) {
        margin-bottom: 20px;
        text-align: justify;
      }
      .siete-images {
        display: flex;
        margin-top: 20px;
        justify-content: space-between;
        @include media(md) {
          flex-direction: column-reverse;
          justify-content: center;
          align-items: center;
        }
        div {
          width: 32%;
          @include media(md) {
            margin-bottom: 20px;
            width: 100%;
          }
          img {
            object-fit: cover;
            width: 100%;
            height: 100%;
          }
          hr {
            width: 50%;
            height: 1px;
            background-color: $color2;
          }
          h3 {
            color: $color5;
            font-weight: 300;
            font-size: 20px;
          }
        }
      }
      .bottoms {
        display: flex;
        justify-content: space-around;
        div {
          width: 50%;
          hr {
            width: 20%;
            height: 1px;
            background-color: $color2;
          }
          h3 {
            color: $color5;
            font-weight: 300;
            font-size: 20px;
          }
        }
      }
    }
    .ocho {
      width: 100%;
      span {
        width: 50%;
      }
      div {
        margin-top: 20px;
        display: flex;
        @include media(sm) {
          flex-direction: column;
        }
        img {
          width: 50%;
          @include media(sm) {
            width: 100%;
          }
        }
      }
    }
    .nueve {
      .nueve-a {
        display: flex;
        justify-content: space-between;
        @include media(md) {
          justify-content: center;
          flex-direction: column;
          align-items: center;
        }
        div {
          width: 50%;
          text-align: justify;
          padding-right: 30px;
          @include media(md) {
            width: 100%;
            padding-right: 0px;
          }
        }
        div {
          @include media(md) {
            width: 100%;
          }
          img {
            max-width: 450px;
            @include media(md) {
              max-width: none;
              width: 100%;
            }
          }
        }
      }
      .nueve-b {
        display: flex;
        justify-content: space-between;
        @include media(md) {
          justify-content: center;
          flex-direction: column-reverse;
          align-items: center;
        }
        div {
          width: 50%;
          @include media(md) {
            width: 100%;
          }
          img {
            object-fit: contain;
            padding: 30px;
            max-width: 500px;
            @include media(md) {
              padding: 0px;
              max-width: none;
              width: 100%;
            }
          }
          hr {
            width: 40%;
            height: 1px;
            background-color: $color2;
          }
          h3 {
            color: $color5;
            font-weight: 300;
            font-size: 20px;
          }
        }
      }
      .nueve-c {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        @include media(md) {
          justify-content: center;
          flex-direction: column;
          align-items: center;
        }
        div {
          width: 50%;
          @include media(md) {
            width: 100%;
          }
          img {
            object-fit: contain;
            padding: 30px;
            max-width: 500px;
            height: 350px;
            @include media(md) {
              padding: 0px;
              max-width: none;
              width: 100%;
              height: auto;
            }
          }
          hr {
            width: 40%;
            height: 1px;
            background-color: $color2;
          }
          h3 {
            color: $color5;
            font-weight: 300;
            font-size: 20px;
          }
        }
      }
    }
    .diez {
      .diez-a {
        width: 100%;
        display: flex;
        @include media(md) {
          width: 100%;
          flex-direction: column;
        }
        div.diez-img {
          width: 60%;
          display: flex;
          justify-content: center;
          @include media(md) {
            width: 100%;
            display: flex;
            justify-content: space-between;
          }
          div {
            @include media(md) {
              justify-content: space-between;
            }
            img {
              object-fit: contain;
              max-width: 160px;
              @include media(md) {
                max-width: 210px;
              }
              @include media(sm-b) {
                max-width: none;
                width: 98%;
              }
            }
          }
        }
        div.diez-span {
          width: 40%;
          text-align: justify;
          @include media(md) {
            width: 100%;
            margin-bottom: 30px;
          }
        }
      }
      .diez-b {
        display: flex;
        width: 100%;
        @include media(sm-a) {
          display: flex;
          align-items: center;
          flex-direction: column;
        }
        div {
          width: 25%;
          @include media(sm-a) {
            width: 70%;
          }
          img {
            object-fit: contain;
            width: 95%;
            @include media(sm-a) {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
