.sumate-verde {
  padding: 50px 100px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include media(md) {
    padding: 40px 80px;
  }
  @include media(sm-b) {
    padding: 40px 70px;
  }
  @include media(sm) {
    padding: 40px 50px;
  }
  div {
    .uno {
      width: 100%;
      display: flex;
      span {
        padding: 25px 0;
        width: 50%;
        text-align: justify;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
      }
    }
    .line {
      hr {
        width: 100%;
        height: 1px;
        background-color: $color2;
      }
      h3 {
        color: $color2;
        font-weight: 300;
      }
      span {
        text-align: justify;
        font-family: Arial, Helvetica, sans-serif;
      }
    }
    .dos {
      display: flex;
      margin-bottom: 50px;
      div {
        width: 50%;
      }
      .a {
        padding-right: 20px;
        img {
          object-fit: cover;
          width: 500px;
          height: 781px;
        }
        hr {
          width: 40%;
          height: 1px;
          background-color: $color2;
        }
        span {
          font-family: Arial, Helvetica, sans-serif;
          font-weight: lighter;
        }
      }
      .b {
        padding-left: 50px;
        text-align: justify;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .b-span {
          font-family: Arial, Helvetica, sans-serif;
          margin-bottom: 20px;
        }
        img {
          object-fit: contain;
        }
        hr {
          width: 40%;
          height: 1px;
          background-color: $color2;
        }
        span {
          font-family: Arial, Helvetica, sans-serif;
          font-weight: lighter;
        }
      }
    }
    .tres {
      text-align: justify;
      span {
        font-family: Arial, Helvetica, sans-serif;
      }
      div.tres-img-user {
        display: flex;
        justify-content: center;
        img {
          object-fit: scale-down;
          max-width: 350px;
          width: 100%;
        }
      }
      .line-b {
        display: flex;
        flex-direction: column;
        hr {
          width: 20%;
          height: 1px;
          background-color: $color2;
        }
        h3 {
          color: $color5;
          font-weight: 300;
          font-size: 20px;
          font-family: Arial, Helvetica, sans-serif;
        }
      }
    }
    .cuatro {
      display: flex;
      div {
        width: 50%;
      }
      .a {
        img {
          object-fit: scale-down;
        }
        hr {
          width: 40%;
          height: 1px;
          background-color: $color2;
        }
        span {
          font-family: Arial, Helvetica, sans-serif;
          font-weight: lighter;
        }
      }
      .b {
        padding-left: 50px;
        text-align: justify;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        span {
          font-family: Arial, Helvetica, sans-serif;
          font-weight: lighter;
        }
      }
    }
    .cinco {
      display: flex;
      margin: 30px 0 0;
      height: 650px;
      .a {
        width: 40%;
        height: 100%;
        img {
          max-height: 500px;
          width: 100%;
          object-fit: cover;
        }
        hr {
          width: 45%;
          height: 1px;
          background-color: $color2;
        }
        span {
          font-family: Arial, Helvetica, sans-serif;
          font-weight: lighter;
        }
      }
      .b {
        width: 65%;
        img {
          object-fit: contain;
          object-position: 100% 0;
          width: 100%;
          height: 100%;
          max-height: 500px;
        }
        hr {
          width: 40%;
          height: 1px;
          background-color: $color2;
          margin-left: 30px;
        }
        span {
          font-family: Arial, Helvetica, sans-serif;
          font-weight: lighter;
          margin-left: 30px;
        }
      }
    }
    .seis {
      width: 100%;
      img {
        object-fit: contain;
      }
    }
    .siete {
      margin-bottom: 70px;
      span {
        font-family: Arial, Helvetica, sans-serif;
      }
      .siete-images {
        display: flex;
        margin-top: 20px;
        justify-content: space-between;
        div {
          img {
            object-fit: cover;
            width: 350px;
            height: 100%;
            max-height: 460px;
          }
          hr {
            width: 50%;
            height: 1px;
            background-color: $color2;
          }
          h3 {
            color: $color5;
            font-weight: 300;
            font-size: 20px;
            font-family: Arial, Helvetica, sans-serif;
          }
        }
      }
      .bottoms {
        display: flex;
        justify-content: space-around;
        div {
          width: 50%;
          hr {
            width: 20%;
            height: 1px;
            background-color: $color2;
          }
          h3 {
            color: $color5;
            font-weight: 300;
            font-size: 20px;
            font-family: Arial, Helvetica, sans-serif;
          }
        }
      }
    }
    .ocho {
      width: 100%;
      span {
        width: 50%;
        font-family: Arial, Helvetica, sans-serif;
      }
      div {
        margin-top: 20px;
        display: flex;
        img {
          width: 50%;
        }
      }
    }
    .nueve {
      .nueve-a {
        display: flex;
        justify-content: space-between;
        div {
          width: 50%;
          text-align: justify;
          padding-right: 30px;
          span {
            font-family: Arial, Helvetica, sans-serif;
          }
        }
        div {
          img {
            max-width: 450px;
          }
        }
      }
      .nueve-b {
        display: flex;
        justify-content: space-between;
        div {
          width: 50%;
          img {
            object-fit: contain;
            padding: 30px;
            max-width: 500px;
          }
          hr {
            width: 40%;
            height: 1px;
            background-color: $color2;
          }
          h3 {
            color: $color5;
            font-weight: 300;
            font-size: 20px;
            font-family: Arial, Helvetica, sans-serif;
          }
        }
      }

      .nueve-c {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        div {
          width: 50%;
          img {
            object-fit: contain;
            padding: 30px;
            max-width: 500px;
            height: 350px;
          }
          hr {
            width: 40%;
            height: 1px;
            background-color: $color2;
          }
          h3 {
            color: $color5;
            font-weight: 300;
            font-size: 20px;
            font-family: Arial, Helvetica, sans-serif;
          }
        }
      }
    }
    .diez {
      .diez-a {
        width: 100%;
        display: flex;
        div.diez-img {
          width: 60%;
          display: flex;
          justify-content: center;
          img {
            object-fit: contain;
            max-width: 160px;
          }
        }
        div {
          width: 40%;
          text-align: justify;
          span {
            font-family: Arial, Helvetica, sans-serif;
          }
        }
      }
      .diez-b {
        display: flex;
        width: 100%;
        div {
          width: 25%;
          img {
            object-fit: contain;
            width: 95%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .tres {
    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        width: 80%;
      }
    }
    .line-b {
      display: flex;
      flex-direction: column;
    }
  }
}

@media screen and (max-width: 920px) {
  .sumate-verde {
    div {
      .uno {
        span {
          width: 100%;
        }
      }
      .dos {
        display: flex;
        flex-direction: column;
        // margin-bottom: 50px;
        div {
          width: 100%;
        }
        .a {
          padding-right: 0px;
          img {
            object-fit: cover;
            width: 100%;
            height: auto;
          }
        }
        .b {
          padding-left: 0px;
          padding-top: 50px;
        }
      }
      .cuatro {
        display: flex;
        flex-direction: column;
        div {
          width: 100%;
        }
        .a {
          padding-top: 30px;
        }
        .b {
          padding-top: 30px;
          padding-left: 0px;
        }
      }
      .cinco {
        display: flex;
        flex-direction: column;
        margin: 30px 0 0;
        height: auto;
        .a {
          width: 100%;
        }
        .b {
          width: 100%;
          img {
            margin-bottom: 0;
          }
          hr {
            width: 45%;
            margin-left: 0px;
          }
          span {
            margin-left: 0px;
          }
        }
      }
      .siete {
        margin-bottom: 20px;
        text-align: justify;
        .siete-images {
          display: flex;
          flex-direction: column-reverse;
          margin-top: 20px;
          justify-content: center;
          align-items: center;
          div {
            margin-bottom: 20px;
            img {
              object-fit: cover;
              width: 100%;
              height: 100%;
              max-height: none;
            }
          }
        }
      }
      .nueve {
        .nueve-a {
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          div {
            width: 100%;
            padding-right: 0px;
          }
          div {
            img {
              max-width: none;
              width: 100%;
            }
          }
        }
        .nueve-b {
          display: flex;
          justify-content: center;
          flex-direction: column-reverse;
          align-items: center;
          div {
            width: 100%;
            img {
              padding: 0px;
              max-width: none;
              width: 100%;
            }
          }
        }

        .nueve-c {
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          margin-bottom: 30px;
          div {
            width: 100%;
            img {
              object-fit: contain;
              padding: 0px;
              max-width: none;
              width: 100%;
              height: auto;
            }
          }
        }
      }
      .diez {
        .diez-a {
          width: 100%;
          display: flex;
          flex-direction: column;
          div.diez-img {
            width: 100%;
            display: flex;
            justify-content: space-between;
            div {
              justify-content: space-between;
              img {
                object-fit: contain;
                max-width: 210px;
              }
            }
          }
          div.diez-span {
            width: 100%;
            margin-bottom: 30px;
          }
        }
        .diez-b {
          display: flex;
          width: 100%;
          div {
            width: 25%;
            img {
              object-fit: contain;
              width: 95%;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .sumate-verde {
    padding: 40px 75px;
    .diez {
      .diez-a {
        width: 100%;
        display: flex;
        flex-direction: column;
        div.diez-img {
          width: 100%;
          display: flex;
          justify-content: space-between;
          div {
            justify-content: space-between;
            img {
              object-fit: contain;
              max-width: none;
              width: 98%;
            }
          }
        }
        div.diez-span {
          width: 100%;
          margin-bottom: 30px;
        }
      }
      .diez-b {
        display: flex;
        width: 100%;
        div {
          width: 25%;
          img {
            object-fit: contain;
            width: 95%;
          }
        }
      }
    }
  }
}
